@layer utilities {
  #menu {
    @media (prefers-reduced-motion: no-preference) {
      transition: translate 0.3s ease-out, display 0.3s ease-out,
        overlay 0.3s ease-out;
      transition: translate 0.3s ease-out, display 0.3s ease-out allow-discrete,
        overlay 0.3s ease-out allow-discrete;
    }
    translate: 100% 0;

    &::backdrop {
      opacity: 0;
      background: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(16px);
      transition: opacity 0.3s ease-in-out;
    }

    &:popover-open {
      translate: -100% 0;

      &::backdrop {
        opacity: 1;
      }
    }
  }
}
